@model NewPostRequestModel

@section styles {
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.css">
}

@section scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="/node_modules/summernote/dist/summernote-bs4.min.js"></script>
    <script>
        (function() {
            $(document).ready(function() {
                var $summernote = $('#summernote');
                $summernote.summernote({
                    height: 400,
                    callbacks: {
                        onImageUpload: function(files) {
                            $summernote.summernote('disable');

                            var data = new FormData();
                            for (var i = 0; i < files.length ; i++) {
                                data.append(files[i].name, files[i]);
                            }

                            data.append('__RequestVerificationToken', getRequestVerificationToken());

                            fetch('/portal/images/upload', {
                                method: 'POST',
                                credentials: 'same-origin',
                                body: data
                            }).then(function(res) {
                                if(res.status === 200) {
                                    res.json().then(function(responseData) {
                                        var $uploadedImage = $('<img>')
                                            .attr('src', responseData.imageUrl);

                                        $summernote.summernote('enable');
                                        $summernote.summernote('insertNode', $uploadedImage[0]);
                                    });
                                } else {
                                    throw {
                                        message: 'image upload failed: ' + res.statusText,
                                        statusCode: res.status
                                    };
                                }
                            }).catch(x => {
                                console.error(x);
                                $summernote.summernote('enable');
                            });
                        }
                    }
                });

                var getRequestVerificationToken = function() {
                    return $('form').first().find('input[name=__RequestVerificationToken]').val();
                };
            });
        }());
    </script>
}

<h2>Create a New Post</h2>

<form asp-controller="Portal" asp-action="CreatePost" method="POST">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" type="text" class="form-control" placeholder="Enter a post title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Abstract"></label>
        <textarea asp-for="Abstract" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Abstract" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" id="summernote"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Create Post</button>
</form>