@{
    Layout = "_Layout";
}

@section styles {
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.css">
}

@section scripts {
    <script src="/node_modules/summernote/dist/summernote-bs4.min.js"></script>
    <script>
        (function() {
            $(document).ready(function() {
                var $summernote = $('#summernote');
                $summernote.summernote({
                    height: 400,
                    callbacks: {
                        onImageUpload: function(files) {
                            $summernote.summernote('disable');
                            
                            // TODO: Upload image here...
                            
                            setTimeout(function() {
                                var $uploadedImage = $('<img>')
                                    .attr('src', 'https://tugberkugurlu.blob.core.windows.net/bloggyimages/640px-Coding_Shots_Annual_Plan_high_res-5.jpg');

                                $summernote.summernote('enable');
                                $summernote.summernote('insertNode', $uploadedImage[0]);
                            }, 3000);
                        }
                    }
                });
            });
        }());
    </script>
}

<h1>Hello...</h1>

<textarea id="summernote" name="content">Hello Summernote...</textarea>