.btn {
    border-radius: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

pre {
    display: block;
    padding: 10px;
    margin: 0 0 10.5px;
    font-size: 14px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 0;
}

div[role=main] {
    margin-top: 20px;
}

.right-side-holder {
    text-align: center;
}

.right-side-holder div.row {
    margin-top: 10px;
}

.right-side-holder div.row:first-of-type {
    margin-top: 0;
}

.right-side-holder ul.badge-list {
    margin: 0;
    padding: 0;
    text-align: center;
}

.right-side-holder ul.badge-list li {
    padding: 0;
    list-style-type: none;
    margin-bottom: 5px;
    display: inline-block;
}

.post-holder {
    margin-top: 20px;
}

.post-holder:first-of-type {
    margin-top: 0;
}

.post-holder div.row {
    margin-top: 10px;
}

.post-holder div.row:first-of-type {
    margin-top: 0;
}

.about-holder div.row {
    margin-top: 10px;
}

.about-holder div.row:first-of-type {
    margin-top: 0;
}