@using Tugberk.Web.Controllers
@{
    var title = "Tugberk Ugurlu Public Speaking Engagements";
    var description = "Tugberk speaks at conferences on technical leadership, software architecture, lean software development, Microsoft Azure and .NET.";

    Layout = "_Layout";
    ViewBag.PageTitle = title;
    ViewBag.PageDescription = description;
    ViewBag.TwitterCard = new TwitterCardContent(
        title,
        Url.AbsoluteAction(nameof(SpeakingController.Index), "Speaking"),
        description,
        $"{Context.Request.Scheme}://{Context.Request.Host}/images/tugberk-ugurlu-speaker-sub-header-2.jpg",
        HardcodedConstants.BlogTwitterHandle,
        HardcodedConstants.BlogTwitterHandle);
}

<div class="speaking-holder">
    <div class="row">
        <div class="col">
            <h2>Public Speaking Engagements</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <figure class="figure">
                <img src="/images/tugberk-ugurlu-speaker-header.jpg" class="figure-img img-fluid" alt="Tugberk Ugurlu Speaking at DevConf, Krakow in 2018" title="Tugberk Ugurlu Speaking at DevConf, Krakow in 2018" />
            </figure>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>
                🗣 I frequently participate at conferences as a speaker to talk about technical leadership, software architecture, lean 
                software development, DevOps, Microsoft Azure and .NET.
            </p>

            <p>The biggest motivation for me to engage in public speaking is to learn more as I am big believer of learning by teaching. 
                I have also been benefiting from the openness of the software development community and 
                volunteering for public speaking is one of my ways of giving something back to show my appreciation and stay part of this great
                community 🙌
            </p>
        </div>
    </div>

    <!--<div class="row">
        <div class="col">
            <h3>Upcomming Speaking Engagements</h3>
        </div>
    </div>-->

    <div class="row">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="/images/tugberk-ugurlu-speaker-sub-header-2.jpg" alt="Card image cap">
                <div class="card-body border border-primary">
                    <h5 class="card-title">🙋🏻‍♂️ Invite me to speak at your event!</h5>
                    <p class="card-text">
                        I am open to invitation to give a talk to an entusiastic crowd. I am especially motivated to deliver workshops, regular or 
                        lightning talks around software architecture, team leadership and lean software development topics. Please <a href="@Url.Action("Index", "Contact")">get in touch with me</a> 
                        if you want to be part of your event by presenting on any of these topics or anything else you might have in mind 🙂
                    </p>
                    <a href="@Url.Action("Index", "Contact")" class="btn btn-primary">Contact me</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <h3>Past Activities</h3>
            <div class="row">
                <div class="col-sm-6 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="https://tugberkugurlu.blob.core.windows.net/speaking/2018-09-devconf-krakow/30236914487_dba11cff33_o.jpg" alt="Tugberk Ugurlu @@ DevConf, Krakow - 2018">
                        <div class="card-body">
                            <h5 class="card-title">Essentials for Building and Leading Highly Effective Development Teams</h5>
                            <h6 class="card-subtitle mb-2 text-muted">DevConf @@ Kraków, Poland</h6>
                            <h6 class="card-subtitle mb-4 text-muted">27-28 Sep 2018</h6>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qpfFus69pN8" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-area-chart"></i> <a href="https://speakerdeck.com/tourismgeek/essentials-for-building-and-leading-highly-effective-development-teams" target="_blank">Slides</a>
                            </small></li>
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-external-link"></i> <a href="https://web.archive.org/web/20181108073211/http://devconf.pl/speakers/tugberk-ugurlu/" target="_blank">Conference Profile</a>
                            </small></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="https://tugberkugurlu.blob.core.windows.net/speaking/2018-05-newcrafts-paris/DdZ3x-fWkAcRn_c.jpg" alt="Tugberk Ugurlu @@ NewCrafts, Paris - 2018">
                        <div class="card-body">
                            <h5 class="card-title">Let the Uncertainty be Your Friend: Finding Your Path in a Wiggly Road</h5>
                            <h6 class="card-subtitle mb-2 text-muted">NewCrafts @@ Paris, France</h6>
                            <h6 class="card-subtitle mb-4 text-muted">17-18 May 2018</h6>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/275529797?title=0&byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-area-chart"></i> <a href="https://speakerdeck.com/tourismgeek/let-the-uncertainty-be-your-friend-finding-your-path-in-a-wiggly-road" target="_blank">Slides</a>
                            </small></li>
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-external-link"></i> <a href="http://www.ncrafts.io/speaker/tourismgeek" target="_blank">Conference Profile</a>
                            </small></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="https://tugberkugurlu.blob.core.windows.net/speaking/2017-12-sql-in-the-city-cambridge/E9F8A9A0-111E-4D1F-AD1B-18B9A26B7DB3.png" alt="Tugberk Ugurlu @@ SQL in the City, Cambridge - 2017">
                        <div class="card-body">
                            <h5 class="card-title">Latest SQL Compare features and support for SQL Server 2017</h5>
                            <h6 class="card-subtitle mb-2 text-muted">SQL in the City Streamed @@ Cambridge, England</h6>
                            <h6 class="card-subtitle mb-4 text-muted">13 Dec 2017</h6>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9a6gVaX192g" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-external-link"></i> <a href="https://www.red-gate.com/hub/events/sqlinthecity/2017" target="_blank">Conference Profile</a>
                            </small></li>
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-rss"></i> <a href="http://www.tugberkugurlu.com/archive/speaking-at-sql-in-the-city-2017-register-now">Announcment Article</a>
                            </small></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="https://tugberkugurlu.blob.core.windows.net/speaking/2016-06-ndc-oslo/02B6DF5D-7DEF-428E-9385-5E1539A6B665.png" alt="Tugberk Ugurlu @@ NDC Oslo, Oslo - 2016">
                        <div class="card-body">
                            <h5 class="card-title">Getting Into the Zero Downtime Deployment World</h5>
                            <h6 class="card-subtitle mb-2 text-muted">NDC Oslo @@ Oslo, Norway</h6>
                            <h6 class="card-subtitle mb-4 text-muted">6-10 June 2016</h6>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/171317249?title=0&byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-area-chart"></i> <a href="https://speakerdeck.com/tourismgeek/let-the-uncertainty-be-your-friend-finding-your-path-in-a-wiggly-road" target="_blank">Slides</a>
                            </small></li>
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-code"></i> <a href="https://github.com/tugberkugurlu/AspNetCoreSamples/tree/ndcoslo2016/haproxy-zero-downtime-sample" target="_blank">Code</a>
                            </small></li>
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-external-link"></i> <a href="https://web.archive.org/web/20160530194908/https://ndcoslo.com/speaker/tugberk-ugurlu/" target="_blank">Conference Profile</a>
                            </small></li>
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-rss"></i> <a href="http://www.tugberkugurlu.com/archive/off-to-oslo-for-ndc-developer-conference">Announcment Article</a>
                            </small></li>
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-rss"></i> <a href="http://www.tugberkugurlu.com/archive/ndc-oslo-2016-in-a-nutshell">Recap Article</a>
                            </small></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="https://tugberkugurlu.blob.core.windows.net/speaking/2016-05-itakeunconf-bucharest/Ci40PKzUkAAm6S5-small.jpg" alt="Tugberk Ugurlu @@ I T.A.K.E Unconference, Bucharest - 2016">
                        <div class="card-body">
                            <h5 class="card-title">Docker Changes the Way You Develop and Release Your Scalable Solutions</h5>
                            <h6 class="card-subtitle mb-2 text-muted">I T.A.K.E Unconference @@ Bucharest, Romania</h6>
                            <h6 class="card-subtitle mb-4 text-muted">19-20 May 2016</h6>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nswAIlgD4fU" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-area-chart"></i> <a href="https://speakerdeck.com/tourismgeek/docker-changes-the-way-you-develop-and-release-your-scalable-solutions" target="_blank">Slides</a>
                            </small></li>
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-external-link"></i> <a href="http://itakeunconf.com/speakers/tugberk-ugurlu/" target="_blank">Conference Profile</a>
                            </small></li>
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-rss"></i> <a href="http://itakeunconf.com/docker-zero-downtime-deployment-rules/">Announcment Article</a>
                            </small></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="https://tugberkugurlu.blob.core.windows.net/bloggyimages/c9bbd57d-1275-4517-b5b1-d85b022f3279.jpg" alt="Tugberk Ugurlu @@ DevConf, Johannesburg - 2016">
                        <div class="card-body">
                            <h5 class="card-title">Architecting Polyglot-Persistent Solutions</h5>
                            <h6 class="card-subtitle mb-2 text-muted">DevConf @@ Johannesburg, South Africa</h6>
                            <h6 class="card-subtitle mb-4 text-muted">8 March 2016</h6>
                            <div>
                                <script async class="speakerdeck-embed" data-id="3474381924404553afdfbd7c8010fcfa" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-area-chart"></i> <a href="https://speakerdeck.com/tourismgeek/architecting-polyglot-persistent-solutions" target="_blank">Slides</a>
                            </small></li>
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-external-link"></i> <a href="https://web.archive.org/web/20160318163414/https://www.devconf.co.za/" target="_blank">Conference Profile</a>
                            </small></li>
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-twitter"></i> <a href="https://twitter.com/tourismgeek/status/707123586197295104" target="_blank">Chosen Tweet</a>
                            </small></li>
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-rss"></i> <a href="http://www.tugberkugurlu.com/archive/upcoming-conferences-and-talks">Announcment Article</a>
                            </small></li>
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-rss"></i> <a href="http://www.tugberkugurlu.com/archive/my-summary-of-devconf-2016">Recap Article</a>
                            </small></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="https://tugberkugurlu.blob.core.windows.net/speaking/2015-10-umbraco-uk-festival/A7F75261-4584-4D79-9EC8-D3FA216731A5.png" alt="Tugberk Ugurlu @@ Umbraco UK Festival, London - 2015">
                        <div class="card-body">
                            <h5 class="card-title">Profiling .NET server applications</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Umbraco UK Festival @@ London, England</h6>
                            <h6 class="card-subtitle mb-4 text-muted">30 Oct 2015</h6>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OEZKXRWDv60" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-area-chart"></i> <a href="https://speakerdeck.com/tourismgeek/profiling-net-server-applications" target="_blank">Slides</a>
                            </small></li>
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-rss"></i> <a href="http://www.tugberkugurlu.com/archive/my-talk-on-profiling--net-server-applications-from-umbraco-uk-festival-2015">Recap Article</a>
                            </small></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="https://tugberkugurlu.blob.core.windows.net/speaking/2015-07-progressive-dot-net-london/19495238401_e4ed74fa5c_z.jpg" alt="Tugberk Ugurlu @@ Progressive .NET Tutorials, London - 2015">
                        <div class="card-body">
                            <h5 class="card-title">ASP.NET 5: How to Get Your Cheese Back</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Progressive .NET Tutorials @@ London, England</h6>
                            <h6 class="card-subtitle mb-4 text-muted">1 July 2015</h6>
                            <div>
                                <a href="https://skillsmatter.com/skillscasts/6401-aspdot-net-5-how-to-get-your-cheese-back#video" target="_blank">
                                    <img src="https://tugberkugurlu.blob.core.windows.net/speaking/2015-07-progressive-dot-net-london/cheese-back-CBEEBCB1-34C3-4D22-822B-55D7498A0141.png" alt="Tugberk Ugurlu @@ Progressive .NET Tutorials, London - 2015">
                                </a>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-area-chart"></i> <a href="https://speakerdeck.com/tourismgeek/asp-dot-net-5-how-to-get-your-cheese-back" target="_blank">Slides</a>
                            </small></li>
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-code"></i> <a href="https://github.com/british-proverbs/british-proverbs-mvc-6/tree/0ca8143e19a76a43cceeafdcecd28f69007a9108" target="_blank">Code</a>
                            </small></li>
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-external-link"></i> <a href="https://skillsmatter.com/legacy_profile/tugberk-ugurlu" target="_blank">Conference Profile</a>
                            </small></li>
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-rss"></i> <a href="http://www.tugberkugurlu.com/archive/upcoming-conferences-that-i-am-speaking-at">Announcment Article</a>
                            </small></li>
                            <li class="list-group-item py-1"><small>
                                <i class="fa fa-rss"></i> <a href="http://www.tugberkugurlu.com/archive/progressive--net-tutorials-2015-and-recording-videos-of-my-asp-net-5-talks">Recap Article</a>
                            </small></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="alert alert-secondary" role="alert">
                <p>
                    🙋🏻‍♂️ You can also visit <a href="https://www.linkedin.com/in/tugberk/" target="_blank">my LinkedIn profile</a> to 
                    find out some of recordings 🎥 from my previous speaking engagements.
                </p>

                <p>
                    You can also find the slides 👨🏻‍💻 of my presentations under 
                    <a href="https://speakerdeck.com/tourismgeek" target="_blank">my Speaker Deck account</a>.
                </p>
            </div>
        </div>
    </div>
</div>