<div class="about-holder">
    <div class="row">
        <div class="col">
            <h2>About Tugberk Ugurlu</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <figure class="figure">
                <img src="/images/IMG_4060.JPG" class="figure-img img-fluid" alt="Tugberk in Cambridge" title="Tugberk in Cambridge" />
            </figure>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="/images/IMG_8783.JPG" class="img-thumbnail" alt="Tugberk in Gran Canaria" title="Tugberk in Gran Canaria" />
        </div>
        <div class="col-md-8">
            <p>
                I'm a self-motivated software guy who craves to create great software products and build effective development teams with 9 years of software development experience. I've been spreading my passion for software over the years through speaking at conferences, writing blog posts, establishing collaboration on open source projects, and authoring a book. All of these are the concrete evidences of how much I care about communicating what’s important, and what matters in software quality and software delivery process. I also aim to strive for the balance required to have a stable, maintainable and architecturally-accurate software product, and being on the market fast with an iterative approach.
            </p>
            <p>
                I currently work as a Technical Lead at Redgate by leading a team of 5 Software Engineers. I am responsible for all aspects of the products delivered by the team from technical architecture to product direction. I have been also a Microsoft MVP for more than 5 years on Microsoft development technologies.
            </p>
        </div>
    </div>
</div>