@{
    Layout = "_Layout";
}

<div class="about-holder">
    <div class="row">
        <div class="col">
            <h2>About Tugberk Ugurlu</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <figure class="figure">
                <img src="/images/IMG_4060.JPG" class="figure-img img-fluid" alt="Tugberk in Cambridge" title="Tugberk in Cambridge" />
            </figure>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="/images/IMG_8783.JPG" class="img-thumbnail" alt="Tugberk in Gran Canaria" title="Tugberk in Gran Canaria" />
        </div>
        <div class="col-md-8">
            <p>
                I'm a self-motivated Software Engineer who craves to create great software. I've been spreading my passion for software over the years through the talks I've given at conferences, blog posts I've written, the collaboration I've established on open source projects, and the book that I have authored. All of these are the concrete evidences of how much I care about communicating what’s important, and what matters in software quality and software delivery process. I'm also aware of the balance required to have a stable, maintainable and architecturally-accurate software product, and being on the market fast with an iterative approach.
            </p>
            <p>
                I currently work as a Technical Lead of Compare Team at Redgate by leading a team of 5 brilliant Software Engineers. Responsible for all aspects of the products delivered by the team (such as SQL Compare and SQL Data Compare) from technical architecture to product direction.
            </p>
        </div>
    </div>
</div>