@using Tugberk.Domain
@inject IOptions<BlogSettings> BlogSettings
@model Post

@{
    ViewBag.Tags = Model.Tags.Select(tag => tag.Name).ToArray();
}

@await Html.PartialAsync("Post", Model)

<div class="d-none d-md-block">
    <hr />
    <div class="row">
        <div class="col" style="text-align: center;">
            <div class="ad-inner" data-type="ad" data-publisher="lqm.tugberkugurlu.site" data-zone="ron" data-format="728x90" data-tags="@Uri.EscapeDataString(string.Join(",", Model.Tags.Select(tag => tag.Name)))"></div>
        </div>
    </div>
    <hr />
</div>

@if (BlogSettings.Value.IsDisqusEnabled())
{
    <div>
        <div id="disqus_thread"></div>
        <script>
            // *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            // *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        
            var disqus_config = function () {
                this.page.url = '@Context.Request.GetHostWithSchema()@Url.Action("Index", "Posts", new { slug = Model.DefaultSlug.Path })';  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = '@Model.Id'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
    
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = '//@(BlogSettings.Value.DisqusProjectName).disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
}