<div class="right-side-holder">
    <div class="row">
        <div class="col">
            <iframe style="width: 120px; height: 240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=tugugusblo-21&language=en_GB&marketplace=amazon&region=GB&placement=B00J5T2EHE&asins=B00J5T2EHE&linkId=eea48b381f9572452f3780de89f06276&show_border=true&link_opens_in_new_window=true"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="https://mvp.microsoft.com/en-us/PublicProfile/4039968?fullName=ali%20tugberk%20ugurlu" target="_blank">
                <img src="/images/mvp-logo-blue-sharp.gif" alt="Tugberk Ugurlu, ASP.NET MVP" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="https://stackexchange.com/users/211547" target="_blank">
                <img src="https://stackexchange.com/users/flair/211547.png" width="208" height="58" alt="profile for tugberk on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for tugberk on Stack Exchange, a network of free, community-driven Q&amp;A sites">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="badge-list">
                <li><a class="btn btn-info" href="https://twitter.com/tourismgeek" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                <li><a class="btn btn-info" href="https://www.linkedin.com/in/tugberk" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
                <li><a class="btn btn-info" href="https://github.com/tugberkugurlu" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
                <li><a class="btn btn-info" href="https://stackoverflow.com/users/463785/tugberk" target="_blank"><i class="fa fa-stack-exchange fa-lg"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            @await Component.InvokeAsync("TagsCloud")
        </div>
    </div>
</div>