<div class="right-side-holder">
    <div class="row">
        <div class="col">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=ss_til&ad_type=product_link&tracking_id=tugsblo0c-20&marketplace=amazon&region=US&placement=B00ACC69WO&asins=B00ACC69WO&linkId=JF65RPOVCRB7XJUS&show_border=true&link_opens_in_new_window=true"></iframe>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="https://mvp.microsoft.com/en-us/PublicProfile/4039968?fullName=ali%20tugberk%20ugurlu" target="_blank">
                <img src="/images/mvp-logo-blue-sharp.gif" alt="Tugberk Ugurlu, ASP.NET MVP" />
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="https://stackexchange.com/users/211547" target="_blank">
                <img src="https://stackexchange.com/users/flair/211547.png" width="208" height="58" alt="profile for tugberk on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for tugberk on Stack Exchange, a network of free, community-driven Q&amp;A sites">
            </a>
        </div>
    </div>
</div>