@model IEnumerable<Tugberk.Web.Controllers.TagViewModel>

<ul class="none-style-list inline-list labeled-list">
    @foreach (var tag in Model)
    {
        <li>
            <span class="badge badge-light">
                <i class="fa fa-tag"></i> @tag.Name
            </span>
        </li>
    }
</ul>