@using Tugberk.Web.Controllers
@model IEnumerable<Tugberk.Web.Controllers.TagViewModel>

<ul class="none-style-list inline-list labeled-list">
    @foreach (var tag in Model)
    {
        <li>
            <span class="badge badge-light">
                <a href="@Url.Action(nameof(PostsController.GetByTag), "Posts", new { tagSlug = tag.Slug })"><i class="fa fa-tag"></i> @tag.Name</a>
            </span>
        </li>
    }
</ul>